aiohttp
asyncpg
git+https://github.com/rapptz/discord.py
git+https://github.com/Rapptz/discord-ext-menus
jishaku
thefuzz
python-Levenshtein
matplotlib
imagetext-py
msgspec
sentry_sdk
arsenic
setuptools
aio-pika==9.4.3